.container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card {
  margin: 1rem;
  padding: 1.5rem;
  box-shadow: 10px 10px #ff6021;
  border-radius: 10px;
  transition: transform .5s;
  cursor:pointer;
  width:350px;
  background-color: #fff;
  color:#ff6021;
}
.card:hover {
  transform: scale(1.1);
}
.main {
  background-color: #FF8858;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  text-align:center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#fff;
}
.img {
  width:300px;
  height:300px;
}

.ref:hover {
  color: #ff6021;
}
.detail {
  width:100%;
}
.detail:hover {
  transform: none;
}
/*
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
